#mapcontainer {
	display: block;
	float: left;
	width: 100%;
	margin: 0;
}

#mapcontainer a:hover {
	color: #227ad1;
}


#addrcolumn {
	position: relative;
	display: inline-block;
	float: left;
	width: 48%;
	margin: 0 7px 0 0;
}


#addrcolumn dl.location {
	margin-left: 1.5em;
}


#addrcolumn dl.location dt {
	position: relative;
	display: block;
	height: 1.5em;
	margin-bottom: 2px;
	padding: 2px 5px 0 5px;
}


#addrcolumn dl.location dt a {
	cursor: pointer;

	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}


#addrcolumn dl.location dt a:focus,
#addrcolumn dl.location dt a:active {
	text-decoration: none;
	boder-bottom: none;
}

#addrcolumn dl.location dt a:hover {
	text-decoration: underline;
	boder-bottom: none;
}


#addrcolumn dl.location dt span.large {
	font-size: 1.3em;
}
#addrcolumn dl.location dt span.medium {
	font-size: 1.1em;
}


#addrcolumn dl.location dt.headline {
	margin-left: -1em;
}


#addrcolumn dl.location dt.selected {
	position: relative;
	font-size: 108%;
	text-decoration: none;
	color: #227ad1;
	background: #e6e6e6;
	boder-bottom: none;

	-webkit-box-shadow: 2px 2px 2px #d3d3d3;
	-moz-box-shadow: 2px 2px 2px #d3d3d3;
	-ms-box-shadow: 2px 2px 2px #d3d3d3;
	-o-box-shadow: 2px 2px 2px #d3d3d3;
	box-shadow: 2px 2px 2px #d3d3d3;
}

#addrcolumn dl.location dt.selected:after {
	position: absolute;
	content: '';
	display: block;
	border: solid transparent;
	left: 100%;
	height: 0;
	width: 0;
	pointer-events: none;
}

#addrcolumn dl.location dt.selected:after {
	border-left-color: #e6e6e6;
	border-width: .92em;
	top: 50%;
	margin-top: -.9em;
}


#addrcolumn dl.location dd {
	margin-top: -1px;
	margin-bottom: 7px;
}


#addrcolumn dl.location dd.headline {
	font-weight: bold;
	margin-left: 0;
	margin-bottom: 3px;
}


#mapcolumn {
	position: relative;
	display: inline-block;
	float: left;
	width: 48%;
	margin: 0 0 0 7px;
}


#mapcolumn #mapiframe {
	position: relative;
	left: 0;
	top: 0;
	overflow-y: visible;
}


#mapcolumn #mapiframe #maptitle {
	position: relative;
}


#mapcolumn #mapiframe iframe {
	position: relative;
    border: #eee 1px solid;
	width: 98%;
	height: 400px;
}
